@import 'general.scss';

.cart-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background: $contrast-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}