@import 'general.scss';

.item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    .item__title {
        background: $contrast-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
    }
    .item__category {
        margin: 0;
    }
    .item__price {
        margin-bottom: 10rem;
    }
    .item__interact {
        margin-top: 5rem;
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }
    .item__button {
        background: $contrast-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        &#button-remove {
            margin-left: 3rem;
            background: $contrast-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .item__cartlink {
        padding: 1rem;
        background: 
        linear-gradient(($background-color, $background-color)) padding-box,
        linear-gradient(to right, hsla(58, 100%, 68%, 1), hsla(39, 74%, 52%, 1)) border-box;
        border-radius: 15px;
        border: 1px solid transparent;
        text-decoration: none;
        color: white;
    } 
}