@import 'general.scss';

.item-detail {
    font-size: 2rem;
    text-align: center;
    .item__title {
        background: $contrast-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .item__category {
        margin: 0;
    }
    .item__button {
        padding: 1rem;
        background: 
        linear-gradient(($background-color, $background-color)) padding-box,
        linear-gradient(to right, hsla(58, 100%, 68%, 1), hsla(39, 74%, 52%, 1)) border-box;
        border-radius: 15px;
        border: 1px solid transparent;
        color: $contrast-color;
        color: white;
        cursor: pointer;
        margin-top: 1rem;
    }
}